head{
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: white;
    display: flex;
    flex-direction: column;
}
.site_logo{
    text-align: center;
}
.site_logo img{
    width: 16rem;
    height: 5rem;
}
.main_body{
    font-family: sans-serif;
    background: white;
    text-align: center;
    color: #0A3B74;
}
footer{
    margin: 0;
    padding: 0;
    text-align: center;
}
.robotica_Logo_HyperLink img{
    width: 12rem;
    height: 4rem;
}