{%- assign azure = site.data.azure %}
<div class = 'wrap-min azure-wrap'>
  <div class = 'azure-header'>
    <a href="/posts/microsoft-cognitive-services">
    <img src = '{{ azure.logo }}' alt = '{{ azure.title }}' class = 'azure-logo' />
    
    <h3 class = 'azure-title'>{{ azure.title | markdownify }}</h3>
    </a>
  </div>
  <div class = 'azure'>
  {%- for item in azure.features a%}
      <div class = 'azure-card'>
      <div class = 'center'>
      <img src = '{{ item.icon }}' alt = '{{ item.name }}' class = 'azure-image'/>
      <span>{{ item.feature }}</span>
    </div>
  </div>
  {%- endfor %}
  </div>
</div>
