<!-- Banner -->
<header id="header" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                    <ul class="nav-menu">
                      <li class="menu-active"><a href="#home">Home</a></li>
                      <li class="menu-has-children"><a href="">About Machine Learning</a>
                        <ul>
                            <li><a href="posts\about-machine-learning\what-is-machine-learning.html">What is Machine Learning?</a></li>
                            <li><a href="posts\about-machine-learning\key-challenges-of-machine-learning.html">Key Challenges of Machine Learning</a></li>
                            <li><a href="posts\about-machine-learning\robots-dont-rest.html">Robots Don't Rest</a></li>
                            <li><a href="posts\about-machine-learning\reasons-why-many-data-science-projects-end-in-the-lab.html">Reasons Why Many Data Science Projects End in the Lab</a></li>
                        </ul>
                      </li>
                      <li class="menu-has-children"><a href="">Machine Learning and You</a>
                        <ul>
                            <li><a href="posts\machine-learning-and-you\if-you-already-have-a-data-science-programme.html">If You Already Have a Data Science Programme</a></li>
                            <li><a href="posts\machine-learning-and-you\if-you-do-not-have-a-machine-learning-programme.html">If You Do Not Have a Data Science Programme</a></li>
                            <li><a href="posts\machine-learning-and-you\empower-the-people-you-trust.html">Empower the People You Trust Most</a></li>
                            <li><a href="posts\machine-learning-and-you\beyond-statistics-human-insights-for-machine-learning.html">Beyond Statistics - Human Insights for Machine Learning</a></li>
                            <li><a href="posts\machine-learning-and-you\unlock-the-power-within-your-data.html">Unlock the Value Within Your Data</a></li>
                            <li><a href="posts\machine-learning-and-you\business-objectives-and-machine-learning-opportunities.html">Business Objectives and Machine Learning Opportunities</a></li>
                        </ul>
                      </li>
                      <li class="menu-has-children"><a href="">Our Platform</a>
                        <ul>
                            <li><a href="posts\our-platform\our-platform.html">Our Platform</a></li>
                            <li><a href="posts\our-platform\what-is-datarobot.html">What is DataRobot?</a></li>
                            <li><a href="posts\our-platform\microsoft-cognitive-services.html">Microsoft Cognitive Services</a></li>
                            <li><a href="posts\our-platform\completeness-of-vision.html">Completeness of Vision</a></li>
                            <li><a href="posts\our-platform\quality-first-for-long-term-vision.html">Quality First for Long Term Value</a></li>
                            <li><a href="posts\our-platform\ml-ops.html">ML-Ops	</a></li>
                        </ul>
                      </li>
                      <li><a href="#DataRobot">DataRobot</a></li>
                      <li><a href="#MicrosoftCognitiveServices">Microsoft Cognitive Services</a></li>
                    </ul>
                  </nav><!-- #nav-menu-container -->		    		
        </div>
    </div>
</header>

<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-8">
                    <h1 class="text-white">{{site.title}}</h1>
                    <p class="pt-20 pb-20 text-white">{{site.tagline}}</p>
                </div>
            </div>
        </div>
    </div>    
</section>
<!-- Banner end -->
