<hr />
<!-- Blog Start -->

<div class="winbiz-blog-section section section-padding">
  <div class="container">
      <div class="blog-grid-wrap">
        <div class="text-center">
          <h2 class="title">d/Deaf Matters</h2>
        </div>

        <div class="row">
            {%- for item in site.data.deaf-awareness %}

              <div class="col-lg-4 col-md-6">
                  <!-- Single Blog Start -->
                  <div class="single-blog">
                      <div class="blog-img">
                          <a href="{{item.link}}">  <img src="{{item.hero}}" alt="{{item.title}}"/></a><br />
                        </a>
                          
                      </div>
                      <div class="blog-content">
                          <h3 class="title"><a href="{{item.link}}">{{item.title}}</a></h3>
                          <p>{{item.summary}}
                          </p>
                          <a class="read-more" href="{{item.link}}">Read More <i class="fas fa-plus"></i></a>
                      </div>
                  </div>
                  <!-- Single Blog End -->

              </div>
              {%- endfor %}

          </div>
      </div>
      <!-- <div class="row">&nbsp;<br /></div>
      <div class="row">&nbsp;<br /></div>
      <div class="row">&nbsp;<br /></div>
      <div class="blog-grid-wrap">
        <div class="text-center">
          <h2 class="title">Industry Insider</h2>
        </div>
      <div class="row">
        {%- for item in site.data.posts-public-sector %}

          <div class="col-lg-4 col-md-6">
              <div class="single-blog">
                  <div class="blog-content">
                      <h3 class="title"><a href="{{item.link}}">{{item.title}}</a></h3>
                      <a class="read-more" href="{{item.link}}">Read More <i class="fas fa-plus"></i></a>
                  </div>
              </div>

          </div>
          {%- endfor %}

      </div>
   -->
    
    
    </div>

    </div>
</div>
<!-- Blog End -->