<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-8">
                    <p>&copy; 2019 Robotica Machine Learning, a trading name of Xiasma Limited. All rights reserved.</p>
                    <p>Xiasma Ltd has registered offices at Xiasma Ltd, Bartholomew's Walk, George Ct, Ely CB7 4JW.
                        Registered company number 4572901 VAT GB 817 8020 35</p>
                    <p>Cookie policy: We respect you, we don’t track you.  There are no cookies.</p>
                    <p>Privacy policy: We respect you, we ask you before holding any data on you. We remove it if you ask us to. We may share selected information with DataRobot, but we will ask you first and only proceed with your explicit consent.</p>
                </div>
            </div>
        </div>
    </div>    
</section>
