<!-- FAQ Start -->
<div class="section testimonial-section section-padding">
  <div class="container">
      <!-- FAQ Wrap Start -->
      <div class="testimonial-wrap">
          <div class="row">
              <div class="col-xl-4">
                  <div class="section-title">
                      <h3 class="sub-title sub-title2 white">FAQ</h3>
                      <h2 class="title white">Did you know...?</h2>
                  </div>
              </div>
              <div class="col-xl-8">
                  <!-- FAQ Slider Wrap Start -->

                  <div class="faqslider">
                    {%- for item in site.data.faq %}
                    <div class="slide">
                          <!-- FAQ Testimonial Start -->
                          <div class="single-testimonial">
                              <div class="testimonial-author-wrap">
                                  <div class="author-img">
                                      <img src="{{ item.image }}" alt="{{ item.alt }}">
                                  </div>
                              </div>
                              <div class="testimonial-content">
                                  <p>{{ item.short }}</p>
                                  <div class="author-text">
                                      <h5 class="name">{{ item.long }}</h5>
                                  </div>
                              </div>
                          </div>
                          <!-- Single FAQ End -->
                      </div>
                      {%- endfor %}
                  </div>

                  <!-- FAQ Slider Wrap End -->
              </div>

              <!-- FAQ Arrow -->
              <div class="testimonial-nav">
                  <div class="testimonial-button-next"><i class="flaticon-next"></i></div>
                  <div class="testimonial-button-prev"><i class="flaticon-back"></i></div>
              </div>
          </div>
      </div>
      <!-- FAQ Wrap End -->
  </div>
</div>
<!-- Testimonial End -->

