<footer>
  <div class = 'wrap'>
    <div class = 'light center'>
      <div class = 'social'>
        {%- for item in site.data.social %}
        <a href = '{{ .item.url }}' class = 'social-item'>
          <img src = '{{ item.icon }}' />
        </a>
        {%- endfor %}
      </div>
    <p class = 'p'>{{ site.email }}</p>
    <p class = 'p'>{{ site.phone }}</p>
    </div>
  <div class = 'grid-2'>
  {%- for item in site.data.footer %}
    <div>
      {{ item.column | markdownify }}
    </div>
  {%- endfor %}
  </div>
  </div>
</footer>
<script src='/js/helper.js'></script>
