<meta charset = 'UTF-8'>
<meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
<meta http-equiv = 'X-UA-Compatible' content = 'ie=edge'>
<title>{{ site.title }}{% if page.title and page.layout != 'home'%} | {{ page.title }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.tagline}}{% endif %}">
<meta content="Our purpose is to solve real-world business problems with fully automated machine learning, integrated into your systems and processes.  A typical problem may be setting bespoke pricing or predicting credit risk.  The key drivers to Robotica Machine Learning are to offer solutions that keep up to date and empower customers to be more self-serving and less reliant on third parties over the long term.  We are partners for the very best product in the automated machine learning space, DataRobot and Microsoft.  We will put in place DataRobot and Microsoft machine learning solutions and completely integrate them into your processes and systems." name="description">
<meta content="robotica, datarobot, ml, machine learning, ai, artificialintelligience, xgb, gbm, data robot, azureml, ml.net, microsoft, cloud, azure, robot, big data" name="keywords">
<link href = '/css/styles.css' rel = 'stylesheet'>
<link rel = 'shortcut icon' type = 'image/png' href = '/images/favicon.png' >
