<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ site.title }}{% if page.title and page.layout != 'home'%} | {{ page.title }}{% else %} - {{site.tagline}}{% endif %}</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="{{page.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <!-- CSS============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/css/plugins/all.min.css">
    <link rel="stylesheet" href="/css/plugins/flaticon.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/plugins/aos.css">
    <link rel="stylesheet" href="/css/plugins/animate.css">
    <link rel="stylesheet" href="/css/plugins/meanmenu.css">
    <link rel="stylesheet" href="/css/plugins/magnific-popup.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/css/style.css">


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <link rel="stylesheet" href="assets/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->
