<meta charset = 'UTF-8'>
<meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
<meta http-equiv = 'X-UA-Compatible' content = 'ie=edge'>
<title>{{ site.title }}{% if page.title and page.layout != 'home'%} | {{ page.title }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.tagline}}{% endif %}">
<meta content="Our ambition is to make the world's information and entertainment available in sign languages." name="description">
<meta content="robotica, bsl, sign language, asl, british sign language, deaf, britishsignlanguage, signlanguage, cued speech, csuk, ml, machine learning, ai, artificialintelligience" name="keywords">
<link href = '/css/styles.css' rel = 'stylesheet'>
<link rel = 'shortcut icon' type = 'image/png' href = '/images/favicon.png' >
