<!-- Header Start  -->
<div id="header" class="section header-section">

  <!-- Header Top Start  -->
  <div class="header-top-section d-none d-lg-block">
      <div class="container">
          <div class="header-top-wrapper">
              <div class="header-top-info">
                  <ul>
                      <li><i class="fas fa-map-marker-alt"></i>Norwich, UK</li>
                      <li><i class="far fa-clock"></i> Mon - Fri: 09:00 - 18:00 </li>
                      <li><i class="fa fa-envelope"></i> <a href="mailto:info@robotica.ml">info@robotica.ml</a> </li>
                  </ul>
              </div>
              <div class="header-social">
                  <ul>
                      <li><a href="https://www.facebook.com/roboticaml"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="https://twitter.com/roboticaml/"><i class="fab fa-twitter"></i> </a></li>
                      <li><a href="https://www.linkedin.com/company/robotica-ml/about/"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <!-- Header Top End  -->

  <div class="header-bottom-section">
      <div class="container">

          <!-- Header Wrap Start  -->
          <div class="header-wrap">

              <div class="header-logo">
                  <a href="/"><img src="/images/header-logo.png" alt="Robotica Machine Learning Logo"></a>
              </div>

              <div class="header-menu d-none d-lg-block">
                  <div class="main-menu">
                      <nav id="mobile-menu">

                          <ul>
                              <li><a href="/">Home</a>
                                <li><a href="/about/">About</a></li>
                              </li>
                              <li class="has-dropdown"><a href="/sectors/">Sectors</a>
                                <ul class="sub-menu">
                                  {%- for item in site.data.sectors %}
                                  <li><a href = '{{ item.link }}'>{{ item.short }}</a></li>
                                  {%- endfor %}
                                </ul>
                            </li>
                            <li class="has-dropdown"><a href="/solutions/">Solutions</a>
                                <ul class="sub-menu">
                                  {%- for item in site.data.solutions %}
                                  <li><a href = '{{ item.link }}'>{{ item.name }}</a></li>
                                  {%- endfor %}
                                </ul>
                            </li>
                              <li><a href="/blog/">Blog</a></li>
                              <li><a href="/contact/">Contact</a></li>

                          </ul>
                      </nav>
                  </div>
              </div>

              <!-- Header Meta Start -->
              <div class="header-meta">
                  <!-- Header Info Start -->
                  <div class="header-info d-none d-md-flex">
                      <div class="info-icon">
                          <i class="flaticon-phone-call"></i>
                      </div>
                      <div class="info-text">
                          <span>Call Us Free </span>
                          <span class="number"><a href="tel:441603290002">01603 290002 </a></span>
                      </div>
                  </div>
                  <!-- Header Info End -->

                  <!-- Header Toggle Start -->
                  <div class="side-menu-icon d-lg-none">
                      <a href="javascript:void(0)" class="info-toggle-btn f-right sidebar-toggle-btn">
                          <span></span>
                          <span></span>
                          <span></span>
                      </a>
                  </div>
                  <!-- Header Toggle End -->
              </div>
              <!-- Header Meta End  -->

            </div>
          <!-- Header Wrap End  -->

      </div>
  </div>

</div>
<!-- Header End -->

<!-- sidebar area start -->
<div class="sidebar__area">
  <div class="sidebar__wrapper">
      <div class="sidebar__close">
          <button class="sidebar__close-btn" id="sidebar__close-btn">
              <i class="fas fa-times"></i>
          </button>
      </div>
      <div class="sidebar__content">
          <div class="sidebar__logo">
              <a href="/">
                  <img src="/images/header-logo.png" alt="Robotica Machine Learning Logo">
              </a>
          </div>
          <div class="mobile-menu fix"></div>
          <div class="sidebar__contact">
              <h4>Contact Info</h4>
              <ul>
                  <li class="d-flex align-items-center">
                      <div class="sidebar__contact-icon">
                          <i class="fas fa-map-marker-alt"></i>
                      </div>
                      <div class="sidebar__contact-text">
                          <a target="_blank" href="#">Norwich, NR1 1SR</a>
                      </div>
                  </li>
                  <li class="d-flex align-items-center">
                      <div class="sidebar__contact-icon mr-15">
                          <i class="fas fa-phone"></i>
                      </div>
                      <div class="sidebar__contact-text">
                          <a href="tel:01603290002">01603 290 002</a>
                      </div>
                  </li>
                  <li class="d-flex align-items-center">
                      <div class="sidebar__contact-icon mr-15">
                          <i class="fas fa-envelope"></i>
                      </div>
                      <div class="sidebar__contact-text">
                          <a href="mailto:info@gmail.com">info@robotica.ml</a>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="sidebar__social">
              <ul>
                <li><a href="https://www.facebook.com/roboticaml"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/roboticaml/"><i class="fab fa-twitter"></i> </a></li>
                <li><a href="https://www.linkedin.com/company/robotica-ml/about/"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
</div>
<!-- sidebar area end -->
