
<input type = 'checkbox' id = 'toggle' class = 'nav-check hidden-desktop'>
<label for = 'toggle' class = 'nav-toggle hidden-desktop'>&#9776;</label>
<nav class = 'nav-header'>
  <div class = 'nav-wrap'>
  <div class = 'nav'>
    {%- include logo.html %}
    {% assign middle = site.data.nav.size | divided_by: 2 %}
    {%- for item in site.data.nav %}
      <a href = '{{ item.link }}' class = 'nav-item'>{{ item.item }}</a>
      {% if forloop.index == middle %}
        <!--span class = 'hidden'>{%- include logo.html %}</span-->
      {% endif %}
    {%- endfor %}
    </div>
  </div>
</nav>
