
.button {
	background-color: $button;
	color: $light;
	padding: 0.5rem 1rem;
	border-radius: 0.2rem;
	margin: 1rem auto 2rem;
	display: grid;
	max-width: 15rem;
	text-align: center;
	// border: 1px solid #000;
}
.light {
	color: $light;
}
.center {
	text-align: center;
}
.vcenter {
	display: grid;
	align-items: center;
}
.fcenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.wrap {
	max-width: 1440px;
	&, &-min {
		@extend %wrap;
	}
	&-min {
		max-width: 1024px;
	}
}
.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	@media screen and (max-width: 991px) {
		order: -2;
	}
	&, &-wrap {
		@media screen and (max-width: 991px) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}
	}
	
	&-wrap {
		transition: transform 0.3s ease-in;
		@media screen and (max-width: 991px) {
			background-color: $theme;
			position: fixed;
			left: 0;
			width: 100vw;
			top: 0;
			min-height: 100vh;
			padding-top: 5rem;
			overflow-y: auto;
			transform: translateX(-101vw);
			opacity: 0;
		}
		> p:first-child {
			font-size: 1.2rem;
		}
	}
	&-header{
		padding: 1rem;
		color: $light;
		
		&.scroll {
			@media screen and (min-width: 992px) {
				transform: translateY(-10rem);
				transition: transform 1.5s cubic-bezier(.19,1,.22,1);
				will-change: transform;
			}
		}
		&.fixed {
			@media screen and (min-width: 992px) {
				transform: translateY(0);
			}
		}
	}
	
	&-item {
		padding: 0.5rem 1.5rem;
		color: inherit;
		text-transform: capitalize;
		@media screen and (min-width: 992px) {
			width: 10rem;
			text-align: center;
		}
	}
	&-logo {
		width: 10rem;
		height: auto;
		@media screen and (max-width: 991px) {
			padding: 0 0.5rem;
			margin-left: 1rem;
			position: relative;
			z-index: 99999;
		}
	}
	&-toggle, &-check {
		position: absolute;
	}
	&-toggle {
		z-index: 99;
		top: 0.9rem;
		width: 4rem;
		height: 2.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 2rem;
		color: $light;
		cursor: pointer;
		// position: relative;
		z-index: 99999 !important;
	}
	&-check {
		transform: translateX(-300vw);
		opacity: 0;
	}
	&-check:checked ~ &-header &-wrap {
		transform: translateX(0);
		opacity: 1;
	}
	&-check:checked ~ main,
	&-check:checked ~ footer {
		@media screen and (max-width: 991px) {
			transform: translateX(100vw);
		}
	}
	&-check:checked ~ &-toggle,
	&-check:checked ~ &-header &-top {
		@media screen and (max-width: 991px) {
			position: fixed;
			z-index: 9999;
		}
	}
	&-top{
		padding-left: 1.5rem;
	}
}

.service {
	color: $light;
	&s {
		background-color: $theme;
		padding: 3rem 0;
	}
	&-icon {
		width: 6rem;
		margin-bottom: 0.75rem;
	}
}

// .hero {
// 	min-height: 75vh;
// 	max-height: 640px;
// 	&-home {
// 		position: relative;
// 		background: url(/images/header-bg.jpg) no-repeat center top;
// 		background-size: cover;
// 	}
// }

.content {
	&-home {
		margin-top: 3rem;
		color: $theme;
		> p:first-of-type {
			&,  + p {
				padding: 0;
			}
		}
	}
}

.client {
	width: 15rem;
	margin: 1rem auto;
	&s {
		margin-top: 3rem;
		margin-bottom: 4rem;
	}
}

.azure {
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: $button;
	grid-gap: 2rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
	&-card {
		font-weight: 700;
		display: flex;
		&:nth-child(even) {
			@media screen and (min-width: 768px) {
				justify-content: flex-end;
			}
		}
		> div {
			display: grid;
			width: 10rem;	
		}
	}
	&-wrap {
		position: relative;
		max-width: 840px;
	}
	&-header{
		@media screen and (min-width: 768px) {
			position: absolute;
			bottom: 0;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&-image {
		width: 5rem;
		margin-left: auto;
		margin-right: auto;
	}
	&-logo {
		width: 100%;
		max-width: 20rem;
	}
	&-title {
		color: initial;
		font-weight: 400;
	}
}

.social {
	display: inline-grid;
	grid-gap: 0.5rem;
	align-items: center;
	grid-template-columns: repeat(5, 2rem);
	opacity: 0.7;
}

.socialblack {
	grid-gap: 0.5rem;
	align-items: left;
	grid-template-columns: repeat(5, 2rem);
	opacity: 0.7;
	img {
		width: 61.8px;
	}
}


.hidden {
	&-desktop {
		@media screen and (min-width: 992px) {
			display: none;
		}
	}
	&-mobile {
		@media screen and (max-width: 991px) {
			display: none;
		}
	}
}

.fixed {
	@media screen and (min-width: 992px) {
		position: fixed;
		left: 0;
		right: 0;
		transform: translateY(0);
		z-index: 9999;
	}
	p {
		@media screen and (min-width: 992px) {
			display: none;
		}
	}
}
