---
layout: default
---
<section class = 'hero-home'></section>

<section class = 'content-home wrap'>
  {{ content }}
</section>

        <div class="body-overlay"></div>




        <!-- Page Banner Start -->
        <div class="section page-banner-section" style="background-image: url(assets/images/page-banner.jpg);">
            <div class="container">
                <div class="page-banner-wrap">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Page Banner Content Start -->
                            <div class="page-banner text-center">
                                <h2 class="title">About Us</h2>
                                <ul class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                </ul>
                            </div>
                            <!-- Page Banner Content End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Banner End -->

        <!-- About Start-->
        <div class="winbiz-about-section winbiz-about-section-5 section section-padding">
            <div class="container">
                <div class="about-wrap">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- About Image Start-->
                            <div class="about-item-wrap">
                                <div class="row g-0">
                                    <div class="col-md-6">
                                        <!-- About Image Item Start-->
                                        <div class="about-item-img about-item-1">
                                            <img class="image" src="assets/images/ab-img5.jpg" alt="">
                                            <div class="about-text">
                                                <h3 class="title">Innovative solutions </h3>
                                                <p>Podcasting operational change management inside of workflows.Praesent sit amet <br> rutrum orci. Fusce </p>
                                            </div>
                                        </div>
                                        <!-- About Image Item End-->
                                    </div>
                                    <div class="col-md-6">
                                        <!-- About Image Item Start-->
                                        <div class="about-item-img about-item-2">
                                            <img class="image" src="assets/images/ab-img6.jpg" alt="">
                                            <div class="about-text">
                                                <h3 class="title">Operational Excellence </h3>
                                                <p>Podcasting operational change management inside of workflows.Praesent sit amet <br> rutrum orci. Fusce </p>
                                            </div>
                                        </div>
                                        <!-- About Image Item End-->
                                    </div>
                                </div>
                            </div>
                            <!-- About Image End-->
                        </div>
                        <div class="col-lg-6">
                            <!-- About Content Start-->
                            <div class="about-content">
                                <div class="section-title">
                                    <h3 class="sub-title sub-title2">Who we are</h3>
                                    <h2 class="title">We are the business consulting house</h2>
                                </div>
                                <p class="text">Praesent sit amet rutrum orci. Fusce mattis facilisis ante sit amet commodo. Cras fermentum risus nisl, a molestie mauris interdum ac. Etiam sed dignissi diam. Cras condimentum maximus a eget dui. </p>
                                <div class="about-list">
                                    <ul>
                                        <li>
                                            <span class="about-icon"><i class="fas fa-check"></i></span>
                                            <span class="about-text">Get unlimited access to 4,000 </span>
                                        </li>
                                        <li>
                                            <span class="about-icon"><i class="fas fa-check"></i></span>
                                            <span class="about-text"> Explore a variety of fresh topics </span>
                                        </li>
                                        <li>
                                            <span class="about-icon"><i class="fas fa-check"></i></span>
                                            <span class="about-text">Find the right instructor for you </span>
                                        </li>
                                    </ul>
                                    <div class="about-author">
                                        <img src="assets/images/sign.png" alt="">
                                        <h3 class="name">Mathew Wade</h3>
                                        <p class="designation">CEO, Businix LTD</p>
                                    </div>
                                </div>
                            </div>
                            <!-- About Content End-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End-->

        <!-- Features Start -->
        <div class="section winbiz-features-section-2 section-padding" style="background-image: url(assets/images/bg/about-bg2.jpg);">
            <div class="container">
                <!-- Features Wrap Start -->
                <div class="features-wrap">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Features Left Start -->
                            <div class="features-left">
                                <div class="experience">
                                    <h2 class="number">25</h2>
                                    <span>Years <br> of experience</span>
                                </div>
                                <div class="section-title">
                                    <h2 class="title">We are commit to always perform at our best.</h2>
                                </div>
                                <div class="certificate-wrap">
                                    <div class="certificate-content">
                                        <h3 class="title">Certificate of Achievement of our company 2023</h3>
                                    </div>
                                    <div class="certificate-img">
                                        <img src="assets/images/certi.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- Features Left End -->
                        </div>
                        <div class="col-lg-6">
                            <!-- Features Right Start -->
                            <div class="features-right">
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- Features Item Start -->
                                        <div class="features-item-03">
                                            <div class="features-icon">
                                                <img src="assets/images/feat-icon5.png" alt="">
                                            </div>
                                            <div class="features-content">
                                                <h3 class="title">Top leaders</h3>
                                                <p>Praesent sit amet rutrum orci. Fusce mattis facilisis ante sit amet commodo. </p>
                                            </div>
                                        </div>
                                        <!-- Features Item End -->
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Features Item Start -->
                                        <div class="features-item-03">
                                            <div class="features-icon">
                                                <img src="assets/images/feat-icon6.png" alt="">
                                            </div>
                                            <div class="features-content">
                                                <h3 class="title">Certified product</h3>
                                                <p>Praesent sit amet rutrum orci. Fusce mattis facilisis ante sit amet commodo. </p>
                                            </div>
                                        </div>
                                        <!-- Features Item End -->
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Features Item Start -->
                                        <div class="features-item-03">
                                            <div class="features-icon">
                                                <img src="assets/images/feta-icon7.png" alt="">
                                            </div>
                                            <div class="features-content">
                                                <h3 class="title">Innovatio</h3>
                                                <p>Praesent sit amet rutrum orci. Fusce mattis facilisis ante sit amet commodo. </p>
                                            </div>
                                        </div>
                                        <!-- Features Item End -->
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Features Item Start -->
                                        <div class="features-item-03">
                                            <div class="features-icon">
                                                <img src="assets/images/feat-icon4.png" alt="">
                                            </div>
                                            <div class="features-content">
                                                <h3 class="title">Our technology</h3>
                                                <p>Praesent sit amet rutrum orci. Fusce mattis facilisis ante sit amet commodo. </p>
                                            </div>
                                        </div>
                                        <!-- Features Item End -->
                                    </div>
                                </div>
                            </div>
                            <!-- Features Right End -->
                        </div>
                    </div>
                </div>
                <!-- Features Wrap End -->
            </div>
        </div>
        <!-- Features End -->

        <!-- Video Start -->
        <div class="section video-section" style="background-image: url(assets/images/bg/video-bg.jpg);">
            <div class="container">
                <!-- Video Wrap Start -->
                <div class="video-wrap">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <!-- Video Content Start -->
                            <div class="video-content text-center">
                                <h2 class="title">We are true to ourselves, and commit to always perform at our best.</h2>
                                <div class="video-play">
                                    <a class="popup-video" href="https://www.youtube.com/watch?time_continue=3&v=_X0eYtY8T_U">
                                        <i class="fas fa-play"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- Video Content End -->
                        </div>
                    </div>
                </div>
                <!-- Video Wrap End -->
            </div>
        </div>
        <!-- Video End -->

        <!-- Faq Start-->
        <div class="winbiz-faq-section winbiz-faq-section-2 winbiz-faq-section-3 section section-padding">
            <div class="container">
                <div class="faq-wrap">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <!-- Faq Right Start -->
                            <div class="faq-left">
                                <div class="section-title">
                                    <h3 class="sub-title sub-title2">FAQ</h3>
                                    <h2 class="title">Did you know...?</h2>
                                </div>
                                <!-- Faq Accordion Start -->
                                <div class="faq-accordion">
                                    <div class="accordion" id="accordionExample">
                                        <div class="faq-accordion-wrapper">
                                            <!-- Faq Accordion Item Start -->
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingOne">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        Is Business Process Outsourcing ?
                                                        <span class="faq-button"><i class="fas fa-chevron-right"></i></span>
                                                    </button>
                                                </h2>
                                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <p>Praesent sit amet rutrum orci. Fusce mattis facilisis ante sit amet commodo. Cras fermentum risus nisl, a molestie mauris interdum ac.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Faq Accordion Item End -->
                                            <!-- Faq Accordion Item Start -->
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingTwo">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        Can i get best policy ?
                                                        <span class="faq-button"><i class="fas fa-chevron-right"></i></span>
                                                    </button>
                                                </h2>
                                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dosectetur adipisicing elit, sed do.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Faq Accordion Item End -->
                                            <!-- Faq Accordion Item Start -->
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingThree">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        What is Market Strategy ?
                                                        <span class="faq-button"><i class="fas fa-chevron-right"></i></span>
                                                    </button>
                                                </h2>
                                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <p>Praesent sit amet rutrum orci. Fusce mattis facilisis ante sit amet commodo. Cras fermentum risus nisl, a molestie mauris interdum ac.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Faq Accordion Item End -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Faq Accordion End -->
                            </div>
                            <!-- Faq Right End -->
                        </div>
                        <div class="col-lg-6">
                            <!-- Faq Cta Start-->
                            <div class="faq-right">
                                <div class="cta-img">
                                    <img src="assets/images/faq-img.jpg" alt="">
                                </div>
                                <div class="faq-cta-content text-center">
                                    <img src="assets/images/cta-icon3.png" alt="">
                                    <p>Need help? Call us</p>
                                    <h3 class="number">+61 83 766 284</h3>
                                </div>
                            </div>
                            <!-- Faq Cta End-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Faq End-->

        <!-- Testimonial Start -->
        <div class="section testimonial-section-2 section-padding" style="background-image: url(assets/images/bg/testi-bg2.jpg);">
            <div class="container">
                <!-- Testimonial Wrap Start -->
                <div class="testimonial-wrap">
                    <div class="section-title text-center">
                        <h3 class="sub-title">Testimonial</h3>
                        <h2 class="title">We have 20k+ worldwide succesful clients </h2>
                    </div>

                    <!-- Testimonial Slider Wrap Start -->
                    <div class="testimonial-slider-wrap">
                        <div class="swiper-container testimonial-active-02">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <!-- Single Testimonial Start -->
                                    <div class="single-testimonial">
                                        <div class="testimonial-author-wrap">
                                            <div class="author-img">
                                                <img src="assets/images/testi-1.jpg" alt="">
                                            </div>
                                            <div class="testimonial-quote">
                                                <img src="assets/images/quote-1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="testimonial-content">
                                            <p>Accelerate innovation with world-class tech teams Beyond more stoic this along goodness hey this this wow manatee </p>
                                            <div class="author-text">
                                                <h5 class="name">Mike Holder</h5>
                                                <span class="designation">CEO, Harlond inc</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Testimonial End -->
                                </div>
                                <div class="swiper-slide">
                                    <!-- Single Testimonial Start -->
                                    <div class="single-testimonial">
                                        <div class="testimonial-author-wrap">
                                            <div class="author-img">
                                                <img src="assets/images/testi-2.jpg" alt="">
                                            </div>
                                            <div class="testimonial-quote">
                                                <img src="assets/images/quote-1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="testimonial-content">
                                            <p>Accelerate innovation with world-class tech teams Beyond more stoic this along goodness hey this this wow manatee </p>
                                            <div class="author-text">
                                                <h5 class="name">Joakim Ken</h5>
                                                <span class="designation">CEO, Harlond inc</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Testimonial End -->
                                </div>
                                <div class="swiper-slide">
                                    <!-- Single Testimonial Start -->
                                    <div class="single-testimonial">
                                        <div class="testimonial-author-wrap">
                                            <div class="author-img">
                                                <img src="assets/images/testi-1.jpg" alt="">
                                            </div>
                                            <div class="testimonial-quote">
                                                <img src="assets/images/quote-1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="testimonial-content">
                                            <p>Accelerate innovation with world-class tech teams Beyond more stoic this along goodness hey this this wow manatee </p>
                                            <div class="author-text">
                                                <h5 class="name">Mike Holder</h5>
                                                <span class="designation">CEO, Harlond inc</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Testimonial End -->
                                </div>
                            </div>

                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <!-- Testimonial Slider Wrap End -->
                </div>
                <!-- Testimonial Wrap End -->
            </div>
        </div>
        <!-- Testimonial End -->
