---
layout: default
---

<!-- Page Banner Start -->
<div class="section page-banner-section" style="background-image: url(/images/contact.png);">
  <div class="container">
      <div class="page-banner-wrap">
          <div class="row">
              <div class="col-lg-12">
                  <!-- Page Banner Content Start -->
                  <div class="page-banner text-center">
                      <h2 class="title">Contact Us</h2>
                  </div>
                  <!-- Page Banner Content End -->
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Page Banner End -->

<!-- Contact Form Start -->
<div class="section contact-form-section section-padding">
  <div class="container">
      <!-- Contact Wrap Start -->
      <div class="contact-wrap">
          <div class="row justify-content-center">
              <div class="col-lg-10">
                  <div class="form-title text-center">
                    <h2 class="title">Reach 87,000 more homes</h2>
                </div>
                  <!-- Contact Form Wrap Start -->
                  <div class="contact-form-wrap">
                      <form action="https://api.web3forms.com/submit" method="POST">
                          <div class="row">
                              <div class="col-md-6">
                                  <!-- Single Form Start -->
                                  <div class="single-form">
                                      <input type="hidden" name="access_key" value="4f4f89e4-3fdd-4930-8288-f0940aa11380">
                                      <input type="hidden" name="subject" value="Contact Page Submission">
                                      <input type="checkbox" name="botcheck" class="hidden" style="display: none;">

                                      <input class="form-control" type="text" name="name" placeholder="Your name" required>
                                  </div>
                                  <!-- Single Form End -->
                              </div>
                              <div class="col-md-6">
                                  <!-- Single Form Start -->
                                  <div class="single-form">
                                      <input class="form-control" type="email"  name="email" placeholder="Work email" required>                                      
                                  </div>
                                  <!-- Single Form End -->
                              </div>
                              
                              <div class="col-md-12">
                                  <!--  Single Form Start -->
                                  <!-- <br /><div class="h-captcha" data-captcha="true"></div> -->
                                  <div class="form-btn text-center">
                                      <button class="btn btn-2" type="submit">Free consultation</button>
                                  </div>
                                  <!--  Single Form End -->
                              </div>
                          </div>
                      </form>
                  </div>
                  <!-- Contact Form Wrap End -->
              </div>
          </div>
      </div>
      <!-- Contact Wrap End -->
  </div>     

</div>
<!-- Contact Form End -->


<!-- Contact Info Start -->
<div class="section contact-info-section" style="margin-top: 30px;">
  <div class="container">
      <!-- Contact Info Wrap Start -->
      <div class="contact-info-wrap">
          <div class="row g-0">
              <div class="col-lg-4">
                  <!--Single Contact Info Start -->
                  <div class="single-contact-info contact-info-1 text-center">
                      <div class="info-icon color-2">
                          <i class="flaticon-phone-call"></i>
                      </div>
                      <div class="info-content">
                          <p>Call Us For Free</p>
                          <h5 class="title"> &nbsp;</h5>
                          <h5 class="title"><a href="tel:441603290002">01603 290002</a></h5>
                      </div>
                  </div>
                  <!--Single Contact Info End -->
              </div>
              <div class="col-lg-4">
                  <!--Single Contact Info Start -->
                  <div class="single-contact-info text-center">
                      <div class="info-icon color-1">
                          <i class="flaticon-email"></i>
                      </div>
                      <div class="info-content">
                          <p>Send An Email</p>
                          <h5 class="title"> &nbsp;</h5>
                          <h5 class="title"><a href="mailto:info@robotica.ml">info@robotica.ml</a></h5>
                        </h5>
                      </div>
                  </div>
                  <!--Single Contact Info End -->
              </div>
              <div class="col-lg-4">
                  <!--Single Contact Info Start -->
                  <div class="single-contact-info text-center">
                      <div class="info-icon color-3">
                          <i class="flaticon-pin"></i>
                      </div>
                      <div class="info-content">
                          <p>Our Address </p>
                          <h5 class="title">Riverside Business Centre</h5>
                          <h5 class="title">61-63 Riverside Road</h5>
                          <h5 class="title">Norwich, NR1 1SR</h5>
                      </div>
                  </div>
                  <!--Single Contact Info End -->
              </div>
          </div>
      </div>
      <!-- Contact Info Wrap End -->
  </div>
</div>
<!-- Contact Info End -->

<!-- Contact Map Start -->
<div class="section contact-map-section" style="padding: 20px; margin-top: 120px;">
  <div class="contact-map-wrap">
      <iframe id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d627375.7918062661!2d0.11314764836341934!3d52.10363348499897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d9e3c021f4a291%3A0x32de145fee73536e!2sRiverside%20Business%20Centre%20Office%20Space%20Norwich!5e0!3m2!1sen!2suk!4v1693339993034!5m2!1sen!2suk"></iframe>
  </div>
</div>
<!-- Contact Map End -->

<script src="https://web3forms.com/client/script.js" async defer></script>