<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}
<body>			
{% include banner.html %}
<section class="feature-area pb-60" id="DataRobot">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="menu-content pt-100 pb-20 col-lg-10">
              {{ content }}
            </div>
          </div>						
    </div>
</section>
{% include footer.html %}
</body>
</html>
