---
layout: default
---
{% if page.image And page.image != "" And page.image != nil %}


   <div class="section winbiz-counter-section-2 section-padding-02">
    <div class="container">
        <div class="counter-wrap">
            <div class="row g-0">
                <div class="col-lg-6">
                    <!-- Counter Image Start -->
                    <div class="counter-img">
                        <img src="{{page.image}}" alt="{{page.title}}">
                        
                    </div>
                    <!-- Counter Image End -->
                </div>
                <div class="col-lg-6">
                    <div class="counter-content-wrap">
                        <div class="section-title">
                            <h3 class="sub-title sub-title2">Sign Language at Scale
</h3>
                            <h2 class="title">{{page.introtext}}</h2>
                        </div>
                        <p class="text">{{page.summary}}</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
<article class="container" style="padding-top:150px">
                        {{ content }}</article>
                        <div class="container">
                      {%- include blogs.html %}
                        </div>
                    